body {font-family:Verdana, Geneva, Tahoma, sans-serif;background-color:#ffffff; font-size:1em}
h1, h2 {color: #74b832;}
.evenrow{background-color:#972eb8;}
h1{font-size: 3em;}
h2{font-size: 1em}
p {font-family:Verdana, Geneva, Tahoma, sans-serif;}
p, ul, td, th {color: #4f0366;}
a {color: #4f0366}
p {color:#4f0366}
nav {background-color: #4f0366;}
nav {padding: 10px; margin-bottom: 30px;}
nav a {color: #ffffff}
nav a:hover {background-color: #74b832;}


.copy {float: left;}
.quote {float: right;}

.row1, .row2 {display: flex; padding: 10px; margin: 10px;}
.row1 {background-color: #b4de87; border-radius: 1em;}
.row2 {background-color: #b4de87; border-radius: 1em; flex-wrap: wrap;}
.addresscol {flex:1; order:1;}
.emailcol {flex:1; order:2; margin: 45px;}
.formcol {flex:3; order:1; margin: 40px;}
.gmapcol {flex:2; order:2; padding: 5px; margin: 30px;}

/*.header {display:flex;
        justify-content: center;}

.flexbox1 {display:flex; 
        flex: 3; 
        justify-content: space-between; 
        margin-top: 50px;}

.OtherSkills {background-color:#ddb0eb; 
            border-radius: 1em;
            margin: 2;
            flex: 1;
            padding: 10px;}

.flexbox2 {display:flex;
            margin: 15px;
            padding: 15px;
            justify-content: space-around;}*/

.bannerbio {max-width: 100%;}

.heading {text-align: center;}
.secondheading {text-align: center;}

.photoediting {float: right; width: 15px; text-align: center;}
.creativeproblemsolving {width: 15px; text-align: center;}
.writtencommunication {width: 15px; text-align: center;}
.videoediting {width: 15px; text-align: center;}
.excel {width: 15px; text-align: center;}

.flex {display: flex; justify-content: space-around; flex-wrap: wrap;}
.flexbox2 {background-color:#b4de87; border-radius: 1em; flex: 1; padding: 20px; margin: 20px; flex-wrap: wrap;}
.small {display: flex; justify-content: space-between; flex:3; margin-top: 20px;}

@media only screen and (max-width: 700px) {
    nav a {
        display: block;
        width: 100%;
        padding: 8px;}
    span {display: none;}
}

.copy {float: left;}
.quote {float: right;}

#skip {/* # sign means looking for tag with id or skip*/
    position: absolute;
    left: -999px;
    background-color:#78AD45;
    padding: 5px;
}
#skip:focus {
    left: 10px;
}